/Library
/Logs
/obj
/Packages
/ProjectSettings
/Screenshots
/Temp
/UserSettings
*.sln
*.csproj
/.vs
.vsconfig

*.meta
*.blend
*.png
*.jpg
*.mat
*.prefab

/Assets/Anims
/Assets/Fotos
/Assets/Materials
/Assets/Prefabs
/Assets/Scenes
/Assets/Sons
/Assets/Textures